[Unit]
Description=UDP Custom by ALFVPN

[Service]
User=root
Type=simple
ExecStart=/etc/alfudp/udp-custom server
WorkingDirectory=/etc/alfudp
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target